<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>

<div class="data-form" >
    <form method="POST" action="update/:id">
      <h2>Edit user:</h2>
      <label for="inputName">Name</label>
      <input type="text" name="itemname" id="inputName" placeholder="Name" required>
      <label for="inputPrice">Price</label>
      <input type="text" name="price" id="inputLastName" placeholder="Price" required>
      <label for="inputQuantity">Quantity</label>
      <input type="text" name="quantity" id="inputPassword" placeholder="Quantity" required>
      <button type="submit">Submit</button>
     </form>
    </div>
</body>
</html>